.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}


.btn-primary {
    background-color: #4b0505;
    border: none;
    font-family: "Lato", "sans-serif";
    font-weight: 700;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #4b0505;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 18px;
}

input:focus {
    outline: none;
}

body {
    background-image: url(../../public/assets/images/Minimalist-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

a {
    color: #4b0505;
    font-size: 16px;
}

#root{
    flex-direction: column;
}

.hero-frame {
    height: 63vh;
    margin: 0 auto;
    overflow: hidden;

}
 
.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 576px) {
    .hero-frame {
        height: 50vh;
    }
}