.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}


.btn-primary {
    background-color: #4b0505;
    border: none;
    font-family: "Lato", "sans-serif";
    font-weight: 700;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #4b0505;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-bottom: 15px;
    width: 100%;
    font-family: "Lato", "sans-serif";
    font-weight: 200;
    font-size: 18px;
}

input:focus {
    outline: none;
}

body {
    background-color: rgb(255, 255, 255);
}

a {
    color: #4b0505;
    font-size: 16px;
}

#root{
    flex-direction: column;
    margin-bottom: 10%;
}

.hero-frame {
    overflow: hidden;
    padding-top: 60px;
    border-radius: 10px;
}
 
.hero img {
    height: 63vh;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 576px) {
    .hero img, .hero {
        height: 50vh;
    }
}

.containerDiv{
    margin: 10%;
}

.containerCard {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 70px;
}

.subTitulo{
    font-weight: 500;
    font-style: normal;
    font-family: "Lato","sans-serif";
}

.dateSelector{
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    padding: 20px;
    z-index: 100;
}

@media (max-width: 576px) {
    .dateSelector {
        height: 50vh;
    }
}

.btnNavbar{
    height: 40px;
}

.inputSearch{
    margin-bottom: 0px;
}

.navbarTop {
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;   
}